.App {
  text-align: center;
  background-color: #f8f6f6;
}

ul {
  list-style-type: none;
}

ul > li > button {
  /* sign out button  */
  width: 138px;
  background-color: white;
  border: 1px solid rgb(201, 201, 201);
  padding: 0;
  border-radius: 5px;
}

.problem-lists {
  display: flex;
  justify-content: center;
}

#Problem-List {
  padding: 0;
}

.problem-header {
  justify-content: center;
  border-radius: 0.5em;
  background-color: #c8f1e3;
}

.opinions {
  width: 300px;
  border: solid;
  border-radius: 7px;
  align-self: center;
}

img {
  filter: hue-rotate(100deg) saturate(40%);
}

#signInDiv {
  max-width: fit-content;
  /* background-color: black; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  display: none;
}

.nav__ul {
  display: flex;
  justify-content: space-evenly;
  /* height: 100px; */
}

.navBar {
  background-color: white;
}
/* #signInDiv > div > div:last-child > iframe {
  background-color: transparent;
  width: 0;
  padding: 0;
  margin: 0;
} */

/* #signInDiv > div > div:last-child > div:last-child {
  background-color: transparent;
  width: 0;
  padding: 0;
  margin: 0;
} */
