.ProConForm {
  /*text-align: initial;*/
  display: flex;
  align-items: center;
}

.ProblemFormWrapper {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 6em;
  background-color: #d7e3e1;
  padding: 2em;
  z-index: 1;
  width: 100vw;
}

.TextInput {
  width: 22em;
  padding: 0.5em;
  border: transparent;
  border-radius: 0.4em;
}

.ProSection > div:nth-child(2) > form > button {
  color: #b2f1b2;
}

.ConSection > div:nth-child(2) > form > button {
  color: #f38a8a;
}

@media only screen and (max-width: 425px) {
  .TextInput {
    width: auto;
  }
}

.picker{
background-color: blue;
}

.picker-wrapper {
  height: 2em;
  position: absolute;
  overflow: unset;
  margin-top: 4em;
  z-index: 5;
  width: 20em;
}
