.menuButton {
  display: flex;
  position: fixed;
  margin: 1em;
  z-index: 3;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  width: 10em;
  background-color: #ccc8c8;
  position: fixed;
  height: 100vh;
  padding-top: 4em;
  z-index: 2;
}

.navBar--ul {
  padding: 0;
}

ul > li > button {
  /* sign out button  */
  width: 138px;
  background-color: white;
  border: 1px solid rgb(201, 201, 201);
  padding: 0;
  border-radius: 5px;
}