.menuButton {
  display: flex;
  /*position: fixed;*/
  align-items: center;
  margin: 0.3em;
  z-index: 3;
  padding: 0.6em;
  border-radius: 0.2em;
  background-color: #edfdef;
  border: none;
  font-size: larger;
}

.navBar--ul {
  padding: 0;
}

.app-bar {
  /*background-color: #607370;*/
  height: 4em;
  background-image: linear-gradient(to right top, #7cafb5, #80b3b7, #84b7b9, #88babb, #8cbebd);
}