.ProConList-Item {
  display: flex;
  align-items: center;
  border: solid thin;
  margin: 1em 1em;
}

.opinions {
  width: auto;
  align-self: center;
  text-align: start;
}
.badge {
  color: #F3C89D;
}

@media only screen and (min-width: 900px) {
.opinions {
  width: 15em;
}
}