.ProConList-Item {
  display: flex;
  align-items: center;
  border: solid thin;
  margin: 1em 0;
}

.opinions {
  width: 19em;
  align-self: center;
  text-align: start;
}
@media only screen and (max-width: 370px) {
  .opinions {
    width: 8em;
  }
}

@media only screen and (min-width:371px) and (max-width: 450px) {
.opinions {
  width: 13em;
}
}