.ProConList-Item {
  
  align-items: center;
  border: #DDDCDB solid thin;
  margin: 1em 1em;
  
  box-shadow: #DDDCDB 0 2px 4px 0, #DDDCDB 0 2px 16px 0;
}

.opinions {
  min-width: auto;
  align-self: center;
  text-align: start;
}
.badge {
  color: #F3C89D;
}

@media only screen and (min-width: 500px) {
  .opinions {
    width: 10em;
  }
}

@media only screen and (min-width: 900px) {
.opinions {
  width: 14em;
}
}

.ProConList-Item-owner {

  align-items: center;
  border: #F3C89D solid thin;
  margin: 1em 1em;
  box-shadow: #F3C89D 0 2px 4px 0, #F3C89D 0 2px 16px 0
}